// Fonts
$font-M: 'ReformaGroteskMediumC', sans-serif;
$font-D: 'ReformaGroteskDemiC', sans-serif;
$font-B: 'ReformaGroteskBoldC', sans-serif;

// Colors
$white: #FFFFFF;
$black: #1E1E1E;
$red: #DB3138;
