.portfolio {
    background: $black;
}
.porfolio__title {
    text-align: center;
    margin-bottom: 60px;
    h2 {
       margin-bottom: 40px; 
    }
    
}
.portfolio__title-decor {
    display: flex;
    justify-content: center;
}

